# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
.env
.env.*

# VSCode settings
.vscode/

# macOS & Windows system files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/

# Cache
*.log
.cache/
